* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.card{
    width: 200px;
    height: 200px;
    border: 1px solid turquoise;
    background: aliceblue;
    border-radius: 10px;
    box-shadow: 0px 10px 20px #196464;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #196464;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
