* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", sans-serif;
}

:root {
    --Measure_Scale_Marker-Light: #CFCFCB;
    --Primary_Element_BG-Light: #EFEEEA;
    --Muted_Text-Light: #ABAAA7;
    --Muted_Stroke-Light: #CAC9C6;
    --Primary_Text-Light: #777773;
    --Primary_Stroke-Light: #B0AFAC;
    --Separator_1-Light: #CECECA;
    --Separator_2-Light: #E4E3DF;
    --Separator_3-Light: #AFAEAB;
    --UI_Element_BG-Light: #E5E4E0;
    --Primary_Tool_Stroke-Light: #B2B2AF;
    --Primary_BG-Light: #F6F5F1;
    --Canvas_BG-Light: linear-gradient(rgba(229, 228, 224, 0.3), rgba(229, 228, 224, 0.3)), url(../Image/Canvas_BG.png);
    --Clicked_Tab_Shadow-Light: #D1D0CD;
    --Unclicked_Tab_Shadow-Light: #E4E3DF;
    --Grid_BG-Light: var(--UI_Element_BG-Light) url("../Image/Shading_Grid.png") repeat;
    --Verticle_Separator-Light: url(../Image/Verticle_Separator.png);

    --Measure_Scale_Marker-Dark: #3A3A38;
    --Primary_Element_BG-Dark: #2A2A28;
    --Muted_Text-Dark: #4A4A48;
    --Muted_Stroke-Dark: #3C3C3A;
    --Primary_Text-Dark: #D8D8D4;
    --Primary_Stroke-Dark: #50504E;
    --Separator_1-Dark: #363634;
    --Separator_2-Dark: #1F1F1D;
    --Separator_3-Dark: #4C4C49;
    --UI_Element_BG-Dark: #1D1D1B;
    --Primary_Tool_Stroke-Dark: #4A4A47;
    --Primary_BG-Dark: #171716;
    --Canvas_BG-Dark: #1D1D1B4d;
    --Clicked_Tab_Shadow-Dark: #1F1F1D;
    --Unclicked_Tab_Shadow-Dark: #1F1F1D;
}

body {
    background: var(--Primary_BG-Light);
}

body.Dark_Mode {
    --Measure_Scale_Marker-Light: #3A3A38;
    --Primary_Element_BG-Light: #2A2A28;
    --Muted_Text-Light: #696966;
    --Muted_Stroke-Light: #3C3C3A;
    --Primary_Text-Light: #ACACA3;
    --Primary_Stroke-Light: #50504E;
    --Separator_1-Light: #363634;
    --Separator_2-Light: #1F1F1D;
    --Separator_3-Light: #4C4C49;
    --UI_Element_BG-Light: #1D1D1B;
    --Primary_Tool_Stroke-Light: #4A4A47;
    --Primary_BG-Light: #171716;
    --Canvas_BG-Light: linear-gradient(rgba(29, 29, 27, 0.4), rgba(29, 29, 27, 0.4)), url(../Image/Canvas_BG.png);
    --Clicked_Tab_Shadow-Light: #1F1F1D;
    --Unclicked_Tab_Shadow-Light: #1F1F1D;
    --Grid_BG-Light: var(--UI_Element_BG-Light) url("../Image/Grid2.png") repeat;
    --Verticle_Separator-Light: url(../Image/Verticle_Separator2.png);
}

#Pixels_Box {
    background: var(--Primary_Element_BG-Light);
    border: 1px solid var(--Primary_Tool_Stroke-Light);
}

#Pixels_Box p {
    font-size: 14px;
    color: var(--Primary_Text-Light);
    font-weight: 400;
    letter-spacing: -0.3px;
    font-optical-sizing: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Toggle {
    position: relative;
    width: 48px;
    height: 30px;
    border-radius: 8px;
    background: var(--UI_Element_BG-Light);
}

.Toggle_Slider {
    position: relative;
}

.Toggle_Slider::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background: var(--Primary_Element_BG-Light);
    border: 1px solid var(--Primary_Stroke-Light);
    top: 2px;
    left: 2px;
    box-shadow: inset 0px -4px var(--Clicked_Tab_Shadow-Light);
    transition: all linear 50ms;
}

.Toggle_Input {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.Toggle_Input:checked+.Toggle_Slider::before {
    left: 20px;
}

#Cell_Size,
#Ramdomness_Intensity {
    -webkit-appearance: none;
    width: 120px;
    height: 6px;
    background: var(--Grid_BG-Light);
    background-size: 5%;
    border-radius: 3px;
}

#Cell_Size::-webkit-slider-thumb,
#Ramdomness_Intensity::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--Primary_Element_BG-Light);
    border: 1px solid var(--Primary_Stroke-Light);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: inset 0px -4px var(--Clicked_Tab_Shadow-Light);
    z-index: 10;
}

#Pattern_Radios_Options,
#Canvas_Size_Radios_Options,
#Tools_Expand_Box {
    height: fit-content;
}

#Pattern_Radios_Options label,
#Canvas_Size_Radios_Options label,
#Gradient_Radios_Options label,
#Bitmap_Color_Radios_Options label {
    height: 30px;
    padding: 0px 10px;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--Muted_Text-Light);
    background: var(--Primary_Element_BG-Light);
    font-weight: 400;
    border: 1px solid var(--Muted_Stroke-Light);
    box-shadow: inset 0px -4px var(--Unclicked_Tab_Shadow-Light);
    padding-bottom: 2px;
    transition: all linear 50ms;
}

#Tools_Expand_Box>label {
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background: var(--Primary_Element_BG-Light);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    flex-shrink: 0;
    transition: all linear 50ms;
}

#Tools_Expand_Box>label path {
    stroke: var(--Muted_Text-Light);
}

#Tools_Expand_Box>label:hover {
    border: 1px solid var(--Muted_Stroke-Light);
    box-shadow: inset 0px -4px var(--Unclicked_Tab_Shadow-Light);
    padding-bottom: 4px;
}

#Canvas_Size_Radios_Options label {
    width: 30px;
    box-sizing: border-box;
    padding: 0px 2px;
    padding-bottom: 2px;
}

#Canvas_Size_Radios_Options label svg path {
    stroke: var(--Muted_Text-Light);
}

.Pattern_Radios,
.Canvas_Size_Radios,
.Gradient_Pattern,
.Pattern_Type,
.Tools_Radios,
.Color_Radios,
.Gradient_Radios,
.Bitmap_Color_Radios {
    display: none;
}

input[type="radio"]:checked+label[for*="Pattern_Radios_Tab_"],
input[type="radio"]:checked+label[for*="Canvas_Size_Radios_Tab_"],
input[type="radio"]:checked+label[for*="Gradient_Pattern_Radio_"],
input[type="radio"]:checked+label[for*="Pattern_Type_Tab_"],
input[type="radio"]:checked+label[for*="Tools_Radios_Tab_"],
input[type="radio"]:checked+label[for*="Gradient_Radios_Tab_"],
input[type="radio"]:checked+label[for*="Bitmap_Color_Radios_Tab_"] {
    box-shadow: inset 0px 4px var(--Clicked_Tab_Shadow-Light) !important;
    color: var(--Primary_Text-Light) !important;
    border: 1px solid var(--Primary_Stroke-Light) !important;
    padding-bottom: 0px !important;
    padding-top: 2px !important;
}

#Canvas_Size_Radios_Tab_1:checked+label[for="Canvas_Size_Radios_Tab_1"] svg path,
#Canvas_Size_Radios_Tab_2:checked+label[for="Canvas_Size_Radios_Tab_2"] svg path,
input[type="radio"]:checked+label[for*="Tools_Radios_Tab_"] svg path {
    stroke: var(--Primary_Text-Light) !important;
}

.button {
    height: 30px;
    padding: 0px 10px 2px 10px;
    border-radius: 6px;
    box-shadow: inset 0px -4px var(--Unclicked_Tab_Shadow-Light);
    background: var(--Primary_Element_BG-Light);
    border: 1px solid var(--Muted_Stroke-Light);
    color: var(--Muted_Text-Light);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.button path {
    stroke: var(--Muted_Text-Light);
}

.button_left-icon {
    padding: 0px 10px 2px 4px;
}

.button_right-icon {
    padding: 0px 4px 2px 10px;
}

.Verticle_separator {
    width: 1px;
    height: 22px;
    background: var(--Verticle_Separator-Light);
}

#gridCanvas {
    background-image: var(--Canvas_BG-Light);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    border-radius: 8px;
}

.Hide_Element {
    opacity: 0;
    visibility: hidden;
    display: none;
}

#Scale_Bar {
    background: var(--Measure_Scale_Marker-Light);
    height: 1px;
    width: 100%;
}

.Scale_Bar_Measurement,
.Scale_Bar_Measurement_Short {
    width: 1px;
    height: 8px;
    background: var(--Measure_Scale_Marker-Light);
}

.Scale_Bar_Measurement_Short {
    height: 4px;
    min-width: 1px;
}

.Scale_Bar_Measurement_Value {
    color: var(--Muted_Text-Light);
    font-size: 8px;
    line-height: 5px;
}

.Scale_Bar_Measurement_Wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 1px;
    align-items: center;
}

#Scale_Bar_Markings {
    display: flex;
    gap: 9px;
}

#Tools_Expand_Box {
    width: 0px;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms;
}

#Tools_Expand_Button>svg:last-child {
    display: none;
}

#Tools_Expand_Button.opened>svg:last-child {
    display: block;
}

#Tools_Expand_Button.opened>svg:first-child {
    display: none;
}

#Tools_Expand_Button.opened {
    padding: 0px 4px 0px 10px;
    border: none;
    box-shadow: none;
}

#Tools_Expand_Button.opened+#Tools_Expand_Box {
    margin-left: 4px;
    width: 98px;
    opacity: 1;
    visibility: visible;
}

#Tools_Radios_Tab_1:checked~#Color_Box {
    opacity: 1;
    visibility: visible;
}

#Color_Box {
    opacity: 0;
    visibility: hidden;
    width: fit-content;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 1px 3px #D2D6D9;
    height: 150px;
    position: absolute;
    padding: 12px;
    overflow-y: scroll;
    position-anchor: --Color_Tab;
    top: 50px;
    left: anchor(center);
}

.Color_Options {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background: var(--Color_Option);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.16);
}

.Color_Theme_Name {
    font-size: 12px !important;
    line-height: 0.8;
}

#Download_SVG:active {
    padding-bottom: 0;
    box-shadow: none;
}




input[type="file"] {
    display: none;
}

.file-label {
    position: relative;
    width: fit-content;
    height: 30px;
    border-radius: 6px;
    background: var(--Primary_Element_BG-Light);
    border: 1px solid var(--Muted_Stroke-Light);
    box-shadow: inset 0px -4px var(--Unclicked_Tab_Shadow-Light);
    padding: 0px 10px;
    cursor: pointer;
    font-size: 14px;
    color: var(--Muted_Text-Light);
    font-weight: 400;
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.file-name {
    font-size: 12px;
    color: var(--Muted_Text-Light);
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
}
