* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", sans-serif;
}

#Pixels_Box {
    background: #EFEEEA;
    padding: 16px;
    border-radius: 16px;
    gap: 16px;
    border: 1px solid #B2B2AF;
}

#Pixels_Box p {
    font-size: 14px;
    color: #777773;
    font-weight: 400;
    letter-spacing: -0.3px;
    font-optical-sizing: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Toggle {
    position: relative;
    width: 48px;
    height: 30px;
    border-radius: 8px;
    background: #E5E4E0;
}

.Toggle_Slider {
    position: relative;
}

.Toggle_Slider::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background: #EFEEEA;
    border: 1px solid #B0AFAC;
    top: 2px;
    left: 2px;
    box-shadow: inset 0px -4px #D1D0CD;
    transition: all linear 50ms;
}

.Toggle_Input {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.Toggle_Input:checked+.Toggle_Slider::before {
    left: 20px;
}

#Cell_Size,
#Ramdomness_Intensity {
    -webkit-appearance: none;
    width: 120px;
    height: 6px;
    background: #E5E4E0 url("../Image/Shading_Grid.png") repeat;
    background-size: 5%;
    border-radius: 3px;
}

#Cell_Size::-webkit-slider-thumb,
#Ramdomness_Intensity::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #EFEEEA;
    border: 1px solid #B0AFAC;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: inset 0px -4px #D1D0CD;
    z-index: 10;
}

#Pattern_Radios_Options,
#Canvas_Size_Radios_Options,
#Tools_Expand_Box {
    height: fit-content;
}

#Pattern_Radios_Options label,
#Canvas_Size_Radios_Options label,
#Gradient_Radios_Options label,
#Bitmap_Color_Radios_Options label {
    height: 30px;
    padding: 0px 10px;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #ABAAA7;
    background: #EFEEEA;
    font-weight: 400;
    border: 1px solid #CAC9C6;
    box-shadow: inset 0px -4px #E4E3DF;
    padding-bottom: 2px;
    transition: all linear 50ms;
}

#Tools_Expand_Box>label {
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background: #EFEEEA;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    flex-shrink: 0;
    transition: all linear 50ms;
}

#Tools_Expand_Box>label:hover {
    border: 1px solid #CAC9C6;
    box-shadow: inset 0px -4px #E4E3DF;
    padding-bottom: 4px;
}

#Canvas_Size_Radios_Options label {
    width: 30px;
    box-sizing: border-box;
    padding: 0px 2px;
    padding-bottom: 2px;
}

#Canvas_Size_Radios_Options label svg path {
    stroke: #ABAAA7;
}

.Pattern_Radios,
.Canvas_Size_Radios,
.Gradient_Pattern,
.Pattern_Type,
.Tools_Radios,
.Color_Radios,
.Gradient_Radios,
.Bitmap_Color_Radios {
    display: none;
}

input[type="radio"]:checked+label[for*="Pattern_Radios_Tab_"],
input[type="radio"]:checked+label[for*="Canvas_Size_Radios_Tab_"],
input[type="radio"]:checked+label[for*="Gradient_Pattern_Radio_"],
input[type="radio"]:checked+label[for*="Pattern_Type_Tab_"],
input[type="radio"]:checked+label[for*="Tools_Radios_Tab_"],
input[type="radio"]:checked+label[for*="Gradient_Radios_Tab_"],
input[type="radio"]:checked+label[for*="Bitmap_Color_Radios_Tab_"] {
    box-shadow: inset 0px 4px #D1D0CD !important;
    color: #777773 !important;
    border: 1px solid #B0AFAC !important;
    padding-bottom: 0px !important;
    padding-top: 2px !important;
}

#Canvas_Size_Radios_Tab_1:checked+label[for="Canvas_Size_Radios_Tab_1"] svg path,
#Canvas_Size_Radios_Tab_2:checked+label[for="Canvas_Size_Radios_Tab_2"] svg path,
input[type="radio"]:checked+label[for*="Tools_Radios_Tab_"] svg path {
    stroke: #777773;
}

.button {
    height: 30px;
    padding: 0px 10px 2px 10px;
    border-radius: 6px;
    box-shadow: inset 0px -4px #E4E3DF;
    background: #EFEEEA;
    border: 1px solid #CAC9C6;
    color: #ABAAA7;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.button_left-icon {
    padding: 0px 10px 2px 4px;
}

.button_right-icon {
    padding: 0px 4px 2px 10px;
}

.Verticle_separator {
    width: 1px;
    height: 22px;
    background: url(../Image/Verticle_Separator.png);
}

#gridCanvas {
    background-image: linear-gradient(rgba(229, 228, 224, 0.3), rgba(229, 228, 224, 0.3)), url(../Image/Canvas_BG.png);
    background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
    border-radius: 8px;
}

.Hide_Element {
    opacity: 0;
    visibility: hidden;
    display: none;
}

#Scale_Bar {
    background: #CFCFCB;
    height: 1px;
    width: 100%;
}

.Scale_Bar_Measurement,
.Scale_Bar_Measurement_Short {
    width: 1px;
    height: 8px;
    background: #CFCFCB;
}

.Scale_Bar_Measurement_Short {
    height: 4px;
    min-width: 1px;
}

.Scale_Bar_Measurement_Value {
    color: #ABAAA7;
    font-size: 8px;
    line-height: 5px;
}

.Scale_Bar_Measurement_Wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 1px;
    align-items: center;
}

#Scale_Bar_Markings {
    display: flex;
    gap: 9px;
}

#Tools_Expand_Box {
    width: 0px;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms;
}

#Tools_Expand_Button>svg:last-child {
    display: none;
}

#Tools_Expand_Button.opened>svg:last-child {
    display: block;
}

#Tools_Expand_Button.opened>svg:first-child {
    display: none;
}

#Tools_Expand_Button.opened {
    padding: 0px 4px 0px 10px;
    border: none;
    box-shadow: none;
}

#Tools_Expand_Button.opened+#Tools_Expand_Box {
    margin-left: 4px;
    width: 98px;
    opacity: 1;
    visibility: visible;
}

#Tools_Radios_Tab_1:checked~#Color_Box {
    opacity: 1;
    visibility: visible;
}

#Color_Box {
    opacity: 0;
    visibility: hidden;
    width: fit-content;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 1px 3px #D2D6D9;
    height: 150px;
    position: absolute;
    padding: 12px;
    overflow-y: scroll;
    position-anchor: --Color_Tab;
    top: 50px;
    left: anchor(center);
}

.Color_Options {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background: var(--Color_Option);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.16);
}

.Color_Theme_Name {
    font-size: 12px !important;
    line-height: 0.8;
}

#Download_SVG:active{
    padding-bottom: 0;
    box-shadow: none;
}




input[type="file"] {
    display: none;
}

.file-label {
    position: relative;
    width: fit-content;
    height: 30px;
    border-radius: 6px;
    background: #EFEEEA;
    border: 1px solid #CAC9C6;
    box-shadow: inset 0px -4px #E4E3DF;
    padding: 0px 10px;
    cursor: pointer;
    font-size: 14px;
    color: #ABAAA7;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.file-name {
    font-size: 12px;
    color: #ABAAA7;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
}
