* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

:root {
  --Violet: #7D23FF;
  --Majorelle_Blue: #5546FF;
  --Palatinate_blue: #402FFF;
  --Dodger_blue: #0094FF;
  --White: #FBFBFC;
  --Tea_green: #CBEFBE;
  --Tiffany_blue: #90D8C5;
  --Tiffany_blue_2: #63C7B2;
  --Jasmine: #FFDC7C;
  --Raisin_black: #1F2632;
  --Jordy_blue: #88BEF4;
  --Azure: #4C82EF;
  --Red_Crayola: #EA495F;
  --Alice_blue: #E0E8F6;
  --Vista_blue: #81A4EA;
  --Border: #E7EDF3;
  --Russian_violet: #0E0B3D;
  --Mint: #15CC95;
  --Alice_blue_2: #D5DCE7;
  --Aquamarine: #9FF4DB;
  --shadow_1: -137px 131px 53px rgba(85, 70, 255, 0), -88px 84px 49px rgba(85, 70, 255, 0.01), -49px 47px 41px rgba(85, 70, 255, 0.03), -22px 21px 30px rgba(85, 70, 255, 0.04), -5px 5px 17px rgba(85, 70, 255, 0.05);
  --shadow_2: 0px 99px 28px rgba(85, 70, 255, 0.01), 0px 64px 25px rgba(85, 70, 255, 0.06), 0px 36px 21px rgba(85, 70, 255, 0.2), 0px 16px 16px rgba(85, 70, 255, 0.34), 0px 4px 9px rgba(85, 70, 255, 0.39);
  --shadow_3: 40px 27px 13px rgba(85, 70, 255, 0), 26px 17px 12px rgba(85, 70, 255, 0.01), 14px 10px 10px rgba(85, 70, 255, 0.04), 6px 4px 8px rgba(85, 70, 255, 0.06), 2px 1px 4px rgba(85, 70, 255, 0.07);
  --shadow_4: 0px 81.78px 23.17px rgba(85, 70, 255, 0), 0px 51.79px 20.44px rgba(85, 70, 255, 0.01), 0px 29.99px 17.72px rgba(85, 70, 255, 0.03), 0px 13.63px 13.63px rgba(85, 70, 255, 0.04), 0px 2.73px 6.81px rgba(85, 70, 255, 0.05), inset 0px -1.36px 1.36px rgba(85, 70, 255, 0.1), inset 0px 1.36px 0px #ffffff;
  --pointer: url(../Image/Point.png)16 6, auto;
  --grab: url(../Image/Grab.png)16 6, auto;
  --palm: url(../Image/Open.png)16 6, auto;
  --mac_btn: 22px;
  --shadow_box_height: 210px;
  --shadow_box_width: 210px;
}

html,
body {
  width: 100vw;
  background-color: #FBFBFC;
  background-image: url(../Image/Dot_BG.png);
  background-repeat: repeat;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  display: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0px 15px;
  box-sizing: border-box;
  margin: 0px auto;
}

.row {
  display: flex;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(6, 1fr); */
}

.row-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.gap-30 {
  gap: 30px;
}

.gap-20 {
  gap: 20px;
}

.gap-18 {
  gap: 18px;
}

.gap-15 {
  gap: 15px;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-8 {
  gap: 8px;
}

.gap-5 {
  gap: 5px;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.height-5 {
  height: 5px;
}

.width-5 {
  width: 5px;
}

.left {
  left: 0;
}

.top {
  top: 0;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.col-1 {
  flex-basis: calc(100% / 12);
  box-sizing: border-box;
}

.col-2 {
  flex-basis: calc((100% / 12)*2);
  box-sizing: border-box;
}

.col-3 {
  flex-basis: calc(100% / 4);
  box-sizing: border-box;
}

.col-4 {
  flex-basis: calc((100%/12)*4);
  box-sizing: border-box;
}

.col-5 {
  flex-basis: calc((100%/12)*5);
  box-sizing: border-box;
}

.col-6 {
  flex-basis: calc(100%/2);
  box-sizing: border-box;
}

.col-7 {
  flex-basis: calc((100%/12)*7);
  box-sizing: border-box;
}

.col-8 {
  flex-basis: calc((100%/12)*8);
  box-sizing: border-box;
}

.col-9 {
  flex-basis: calc((100%/12)*9);
  box-sizing: border-box;
}

.col-10 {
  flex-basis: calc((100%/12)*10);
  box-sizing: border-box;
}

.col-11 {
  flex-basis: calc((100%/12)*11);
  box-sizing: border-box;
}

.col-12 {
  flex-basis: 100%;
}

.pl-0 {
  padding-left: 0px;
}

.p-0 {
  padding: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

.text-caps {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.mac_3D_btn {
  width: 100%;
  height: var(--mac_btn);
  border-radius: 4px;
  background: #ffffff;
  border: 0.5px solid var(--Alice_blue_2);
  box-shadow: inset 0px -3px 0px #EEEFF7;
  padding-bottom: 2px;
  font-size: 10px;
  color: var(--Russian_violet);
  font-weight: 500;
  line-height: 0;
  text-align: center;
}

.mac_3D_btn:active {
  padding-bottom: 0px;
  box-shadow: inset 0px -1px 0px #EEEFF7;
}

.mac_3D_btn:hover {
  cursor: var(--pointer);
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}


/* CODE ABOUT TILT AREA START HERE */

.tilt_wrap {
  display: flex;
  margin-bottom: 50PX;
}

.tilt_box_wrap {
  width: 28.37%;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.tilt_box {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px 0px 0px 20px;
  background: #ffffff;
  border: 1px solid var(--Border);
  box-shadow: var(--shadow_1);
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.tilt_box::before {
  content: '';
  position: absolute;
  width: 16%;
  height: 100%;
  background: var(--Border);
  right: 0;
  top: 0;
  transform: skewY(-25.115deg);
  transform-origin: right;
  z-index: -10;
}

.tilt_bg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #000;
  background-image: url(../Image/Bubble_BG.png);
  box-shadow: inset 0px 0px 40px #002CC3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.tilt {
  width: 55%;
  height: 55%;
  aspect-ratio: 1/1;
  background: var(--White);
  border-radius: 20px;
  box-shadow: var(--shadow_2);
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tilt>img {
  width: 50%;
  aspect-ratio: 1/1;
}

.tilt_data {
  width: 76.03%;
  height: 400px;
  background: #fbfbfcb3;
  backdrop-filter: blur(10px);
  flex-shrink: 0;
  border-radius: 0px 20px 20px 0px;
  box-shadow: var(--shadow_4);
  padding: 40px 25px 40px 92px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 30px;
  position: relative;
  left: -4.54%;
  z-index: 0;
}

.tilt_data h2 {
  font-family: Lato;
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--Russian_violet);
  line-height: 28px;
}

.tilt_data p {
  font-size: 16px;
  letter-spacing: 0.2px;
  font-family: inter;
  color: var(--Russian_violet);
  line-height: 0px;
}

.message_box p span {
  letter-spacing: 0.6px;
  font-weight: 600;
  color: var(--Majorelle_Blue);
}

.message_box {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.tilt_message {
  align-items: center;
  gap: 10px;
}

.tilt_message i {
  width: 16px;
  height: 16px;
  color: var(--Mint);
}

.code_snippet span {
  font-size: 19px;
  letter-spacing: 0.2px;
  font-family: inter;
  line-height: 0px;
  color: var(--Russian_violet);
}

.code_snippet .Separate {
  color: var(--Majorelle_Blue);
}

.code_snippet .Attribute {
  color: var(--Violet);
}

.code_snippet .Value {
  color: var(--Mint);
}

.code_snippet {
  height: 60px;
  border-radius: 10px;
  background: var(--White);
  border: 1px solid var(--Border);
  box-shadow: inset 3px 3px 5px #EBE9FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 20px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.copy_btn {
  height: 100%;
  border-radius: 5px;
  aspect-ratio: 1/1;
  background: var(--Majorelle_Blue);
  border: 1px solid var(--Palatinate_blue);
  border-top-width: 0px;
  border-bottom-width: 3px;
  font-size: 18px;
  color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy_btn:hover {
  cursor: pointer;
}

.container_box {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.Banner {
  position: relative;
  z-index: 1;
}

.tilt_infinity_child {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 1/1;
  background: var(--White);
  border-radius: 20px;
  box-shadow: inset 0px 0px 30px #b4c5ff;
}

/* CODE ABOUT TILT AREA ENDS HERE */

/* CODE ABOUT SHADOW AREA START HERE */

.shadow_area {
  padding-top: 150px;
}

.wrapper {
  padding: 15px;
  transition: all 500ms ease;
}

.shadow_box {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: var(--color_view_bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 12px 15px;
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: var(--shadow_box);
  opacity: 1;
  position: relative;
}

.shadow_area_grid{
  padding-top: 300px;
}

.shadow_area_grid:hover .wrapper:not(:hover) {
  opacity: 0.1;
}

.button_row_top {
  display: flex;
  gap: 5px;
}

.button_row_top>button:first-child,
.button_row_bottom>button:last-child {
  width: 50px;
  flex-shrink: 0;
}

.shadow_box_copy_btn.white {
  background: var(--Majorelle_Blue);
  box-shadow: inset 0px -4px 0px var(--Palatinate_blue);
  color: var(--White);
  border: none;
}

.shadow_box_copy_btn.white:active {
  padding-bottom: 0px;
  box-shadow: inset 0px -1px 0px var(--Palatinate_blue);
}

.color_format_index_value {
  color: var(--Palatinate_blue);
  font-size: 10px;
  line-height: 0.7;
}

.color_format.white p,
.color_format.white h3 {
  color: #ffffff;

}

.color_format_index_value.white {
  color: #ffffff;
}

.color_format_index_value.black {
  color: var(--Palatinate_blue);
}

.color_format_index_value:nth-child(2) {
  font-size: 8px;
}

.color_alpha h3,
.color_format_data h3,
.shadow_format_data {
  color: var(--Russian_violet);
  font-size: 16px;
  font-weight: 600;
  line-height: 0.78;
}

.color_alpha h3.black,
.color_format_data h3.black,
.shadow_format_data h3.black {
  color: var(--Russian_violet);
}

.color_alpha h3.white,
.color_format_data h3.white,
.shadow_format_data h3.white {
  color: #ffffff;
}

.shadow_value {
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}

.shadow_format_data h3 {
  font-size: 13px;
}

.color_value {
  gap: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  color: var(--Russian_violet);
  font-weight: 500;
  line-height: 0.7;
  /* text-align: center; */
}

.color_value>div:nth-child(2) {
  padding: 0px 15px;
}

.color_value>div:nth-child(2) hr {
  border-color: var(--Border);
  opacity: 0.1;
}

.format_list {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 0.5px solid var(--Border);
  border-radius: 4px;
  background: #ffffff;
  padding: 3px;
  box-sizing: border-box;
  font-size: 10px;
  color: var(--Russian_violet);
  font-weight: 500;
  line-height: 0.7;
  text-align: center;
  /* height: 0px; */
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  transform: translateY(calc(var(--mac_btn) - 2px));
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 221px 62px rgba(80, 70, 255, 0), 0px 142px 57px rgba(80, 70, 255, 0.01), 0px 80px 48px rgba(80, 70, 255, 0.03), 0px 35px 35px rgba(80, 70, 255, 0.04), 0px 9px 19px rgba(80, 70, 255, 0.05);
  z-index: 1;
}

.format_list>div {
  width: 44px;
  border: 0.5px solid transparent;
  padding-top: 6px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  height: 20px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.format_list>div:hover {
  border: 0.5px solid var(--Alice_blue_2);
  padding-top: 4px;
  box-shadow: inset 0px -3px 0px #EEEFF7;
  /* cursor: var(--pointer); */
}

.format_list.active {
  opacity: 1;
  visibility: visible;
}

/* ////////////////////// */

.shadow_box_shadow_color_btn {
  display: block;
}

.color_option_list,
.custom_shadow_panel_button_color_list,
.shadow_box_bg_list_box {
  position: absolute;
  display: flex;
  gap: 2px;
  border: 0.5px solid var(--Border);
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 3px 3px 3px;
  box-sizing: border-box;
  font-size: 10px;
  color: var(--Russian_violet);
  font-weight: 500;
  line-height: 0.7;
  text-align: center;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  flex-direction: column;
  transform: translateY(-2px);
  z-index: 1;
  height: 170px;
  overflow-y: scroll;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 221px 62px rgba(80, 70, 255, 0), 0px 142px 57px rgba(80, 70, 255, 0.01), 0px 80px 48px rgba(80, 70, 255, 0.03), 0px 35px 35px rgba(80, 70, 255, 0.04), 0px 9px 19px rgba(80, 70, 255, 0.05);
}

.shadow_box_bg_list_box {
  top: 22px;
}

.color_option_list.active,
.custom_shadow_panel_button_color_list.active,
.shadow_box_bg_list_box.active {
  opacity: 1;
  visibility: visible;
}

.color_option_list>input,
.custom_shadow_panel_button_color_list>div input:first-child,
.bg_color_input {
  background: var(--White);
  border: 0.5px solid var(--Border);
  box-shadow: inset 2px 3px 1px #EEEFF7;
  border-radius: 4px;
  font-size: 10px;
  color: var(--Russian_violet);
  font-weight: 500;
  line-height: 0.7;
  height: 20px;
  flex-shrink: 0;
  padding: 0px 6px;
  outline: none;
}

.bg_color_input {
  width: 100%;
  flex-shrink: 1;
}

.custom_shadow_panel_button_color_list>div input:first-child {
  flex-shrink: 1;
}

.color_view {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color_view_bg);
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
}

.color_option_list_box>div,
#Shadow_color_color_option_list_box>div,
#Box_color_color_option_list_box>div,
#bg_color_list_box>div,
.shadow_box_bg_list>div {
  border: 0.5px solid transparent;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  height: 22px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 6px;
  flex-shrink: 0;
}

.color_option_list_box>div:hover,
#Shadow_color_color_option_list_box>div:hover,
#Box_color_color_option_list_box>div:hover,
#bg_color_list_box>div:hover,
.shadow_box_bg_list>div:hover {
  border: 0.5px solid var(--Alice_blue_2);
  padding-bottom: 3px;
  box-shadow: inset 0px -3px 0px #EEEFF7;
  /* cursor: var(--pointer); */
}

.color_option_list_box>.hide,
#Shadow_color_color_option_list_box>.hide,
#Box_color_color_option_list_box>.hide,
#bg_color_list_box>.hide,
.shadow_box_bg_list>.hide {
  display: none;
}

.shadow_box_shadow_color_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  line-height: 0.7;
  padding-bottom: 4px;
}

.shadow_box_shadow_color_btn>div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color_view_bg);
  aspect-ratio: 1 / 1;
}

.btn_color_view {
  width: 10px;
  height: 100%;
  border-radius: 4px;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.08);
  border: 0.5px solid var(--Alice_blue_2);
  flex-shrink: 0;
  background: var(--color_view_bg);
}

.shadow_value_change_control {
  position: absolute;
  height: 30px;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  color: var(--Russian_violet);
  font-size: 15px;
}

.shadow_value_change_control.white {
  color: #ffffff
}

.shadow_box:hover .shadow_value_change_control {
  opacity: 1;
  visibility: visible;
}

/* ////////////////////// */

.custom_shadow {
  background: #fbfbfcb3;
  backdrop-filter: blur(10px);
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: var(--shadow_4);
  padding: 10px;
  height: 671px;
  user-select: none;
  margin-top: 250px;
}

.custom_shadow_panel {
  background: #FBFBFC;
  border: 1px solid var(--Border);
  border-radius: 10px;
  height: 100%;
  width: 380px;
  padding: 20px;
  gap: 18px;
  flex-shrink: 0;
}

.custom_shadow_panel hr {
  border: 1px dashed var(--Alice_blue_2);
  stroke-dasharray: 2;
}

.input_label {
  font-size: 14px;
  font-weight: 600;
  color: var(--Russian_violet);
  line-height: 0.7;
}

.shadow_panel_custom_input {
  height: 26px;
  width: 60px;
  border-radius: 4px;
  outline: none;
  border: 0.5px solid var(--Alice_blue_2);
  font-size: 10px;
  font-weight: 600;
  color: var(--Russian_violet);
  line-height: 0.7;
  padding-left: 6px;
  padding-bottom: 1px;
}

.shadow_panel_custom_input::-webkit-outer-spin-button,
.shadow_panel_custom_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.shadow_panel_custom_input[type=number] {
  -moz-appearance: textfield;
}

.shadow_panel_custom_input+p {
  font-size: 12px;
  color: var(--Russian_violet);
  font-weight: 600;
  line-height: 0.7;
  width: 15px;
  text-align: center;
}

.mini_label {
  font-size: 8px;
  color: var(--Palatinate_blue);
  font-weight: 700;
  line-height: 0.7;
}

.slider_style {
  -webkit-appearance: none;
  height: 6px;
  background: var(--Border);
  border-radius: 3px;
  position: relative;
  z-index: 0;
  outline: none;
}

.slider_style::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #ffffff;
  background-image: url(/Assets/Image/slider_lines.png);
  background-size: cover;
  object-fit: cover;
  background-position-y: -1px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: inset 0px -2px 0px #EEEFF7;
  border: 0.5px solid var(--Alice_blue_2);
  z-index: 10;
}

.slider_style::before {
  content: '';
  position: absolute;
  width: var(--slide_width);
  height: 100%;
  border-radius: 3px 0px 0px 3px;
  background: var(--Aquamarine);
  z-index: -1;
}

.custom_shadow_panel_button {
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  line-height: 0.7;
  padding-bottom: 4px;
}

.custom_shadow_panel_button_output {
  width: 10px;
  height: 100%;
  border-radius: 4px;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.08);
  border: 0.5px solid var(--Alice_blue_2);
  flex-shrink: 0;
  background: var(--color_view_bg);
}

.border_toggle {
  padding-top: 14px;
}

.fa-circle-question {
  font-size: 14px;
  color: var(--Alice_blue_2);
}

.inset_toggle {
  padding-top: 4px;
}

.radius_toggle {
  padding-top: 3px;
}

.toggle {
  width: 45px;
  height: 26px;
  border-radius: 13px;
  background: var(--Border);
  box-shadow: 0px 0.41px 0px #ffffff, 0px 0.81px 1.63px rgba(0, 0, 0, 0.04), inset 0px 0px 3.25px rgba(0, 0, 0, 0.02), inset 0px 0px 0px 0.2px rgba(0, 0, 0, 0.06), inset 0px 0.81px 1.63px rgba(0, 0, 0, 0.04), inset 0px 0.41px 0.41px rgba(0, 0, 0, 0.04);
  padding: 2px;
  transition: all 100ms ease;
}

.toggle_button {
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #ffffff;
  background-image: linear-gradient(360deg, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.08) 100%);
  box-shadow: inset 0px 0px 0.81px 0.41px #ffffff, inset 0px 0.41px 0px #ffffff, 0px 0px 0px 0.2px rgba(0, 0, 0, 0.02), 0px 2.03px 1.63px rgba(0, 0, 0, 0.02), 0px 1.22px 1.22px rgba(0, 0, 0, 0.04), 0px 0.41px 0.81px rgba(0, 0, 0, 0.12), 0px 0px 0.41px rgba(0, 0, 0, 0.08);
  transition: all 100ms ease;
}

.toggle.active {
  background: var(--Aquamarine);
  transition: all 100ms ease;
}

.toggle.active .toggle_button {
  transform: translateX(19px);
  transition: all 100ms ease;
}

#custom_shadow_sandbox_area {
  width: 100%;
  overflow: hidden;
}

.shadow_sandbox_right_panel_box {
  width: 100%;
  height: 100%;
}

#custom_shadow_sandbox {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: var(--color_view_bg);
  border: 1px solid var(--Border);
  box-shadow: inset 3px 3px 5px #EBE9FF;
  overflow: hidden;
}

#custom_shadow_sandbox_inset {
  width: calc(100% - 40px);
  left: 50%;
  height: calc(100% - 40px);
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.right_control_panel {
  width: 60px;
  height: 100%;
  background: #FBFBFC;
  border: 1px solid var(--Border);
  border-radius: 10px;
  flex-shrink: 0;
  padding: 4px;
}

.right_control_panel_btn {
  width: 100%;
  aspect-ratio: 1/1;
  font-size: 18px;
  color: var(--Alice_blue_2);
  background: transparent;
  outline: none;
  border: 0.5px solid transparent;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.right_control_panel_btn::before {
  content: '';
  position: absolute;
  height: 10px;
  background: #ffffff;
  border: 0.5px solid var(--Alice_blue_2);
  font-size: 10px;
  color: var(--Russian_violet);
  font-weight: 600;
  text-transform: capitalize;
  padding: 3px 5px;
  border-radius: 4px;
  line-height: 0.8;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: max-content;
  box-shadow: 0px 221px 62px rgba(80, 70, 255, 0), 0px 142px 57px rgba(80, 70, 255, 0.01), 0px 80px 48px rgba(80, 70, 255, 0.03), 0px 35px 35px rgba(80, 70, 255, 0.04), 0px 9px 19px rgba(80, 70, 255, 0.05);
  opacity: 0;
  visibility: hidden;

}

#reset:active,
#bg_color:active {
  color: var(--Palatinate_blue);
}

#reset::before {
  content: 'Reset';
}

#bg_color::before {
  content: 'bg color';
}

#hide_controller::before {
  content: 'hide UI';
}

.right_control_panel_btn:hover::before {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
  transition-delay: 1s;
}

.right_control_panel_btn:hover {
  border: 0.5px solid var(--Alice_blue_2);
  padding-bottom: 3px;
  box-shadow: inset 0px -3px 0px #EEEFF7;
  transition: all 0.2s ease-in-out;
}

.right_control_panel_btn:active {
  padding-bottom: 0px;
  box-shadow: inset 0px -1px 0px #EEEFF7;
}

#bg_color {
  anchor-name: --bg_color_btn;
}

#bg_color_box {
  height: 200px;
  width: 150px;
  top: 0;
  display: flex;
  gap: 2px;
  border: 0.5px solid var(--Border);
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 3px 3px 3px;
  box-sizing: border-box;
  font-size: 10px;
  color: var(--Russian_violet);
  font-weight: 500;
  line-height: 0.7;
  text-align: center;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  flex-direction: column;
  z-index: 1;
  overflow-y: scroll;
  user-select: none;
  position-anchor: --bg_color_btn;
  right: calc(anchor(left) + 21px);
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 221px 62px rgba(80, 70, 255, 0), 0px 142px 57px rgba(80, 70, 255, 0.01), 0px 80px 48px rgba(80, 70, 255, 0.03), 0px 35px 35px rgba(80, 70, 255, 0.04), 0px 9px 19px rgba(80, 70, 255, 0.05);
}

#bg_color_box.active {
  opacity: 1;
  visibility: visible;
}

#bg_color_box>div>input:first-child {
  background: var(--White);
  border: 0.5px solid var(--Border);
  box-shadow: inset 2px 3px 1px #EEEFF7;
  border-radius: 4px;
  font-size: 10px;
  color: var(--Russian_violet);
  font-weight: 500;
  line-height: 0.7;
  height: 20px;
  padding: 0px 6px;
  outline: none;
}

#hide_controller.show_ui,
#bg_color.show_ui {
  color: var(--Palatinate_blue);
}

#shadow_controller {
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid var(--Border);
  z-index: 1;
  anchor-name: --controller;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.7;
  font-size: 12px;
  color: var(--Russian_violet);
  font-weight: 700;
  text-align: center;
  opacity: 0;
  position-anchor: --shadow_box;
  left: calc(anchor(left) - 20px);
  top: calc(anchor(top) - 20px);
  /* box-shadow: 0px 221px 62px rgba(85, 70, 255, 0), 0px 142px 57px rgba(85, 70, 255, 0.01), 0px 80px 48px rgba(80, 70, 255, 0.03), 0px 35px 35px rgba(80, 70, 255, 0.04), 0px 9px 19px rgba(80, 70, 255, 0.05); */
}

#shadow_controller.show_ui {
  opacity: 1;
}

#opacity_ring_val {
  opacity: 0;
  transition: all ease 100ms;
}

#opacity_ring_val.show {
  opacity: 1;
  transition: all ease 100ms;
}

#shadow_controller.show_ui:hover #opacity_ring_val {
  opacity: 1;
  transition: all ease 100ms;
}

#shadow_controller.show_ui:hover {
  cursor: var(--palm);
}

#shadow_controller.show_ui.grab {
  cursor: var(--grab);
}

#opacity_ring {
  position: absolute;
  width: 140px;
  height: 60px;
  border-radius: 50%;
  z-index: 0;
  position-anchor: --controller;
  left: calc(anchor(left) - 10px);
  top: anchor(center);
  transform: translateY(-50%);
  opacity: 0;
  display: flex;
  align-items: center;
  line-height: 0.7;
  font-size: 12px;
  color: var(--Russian_violet);
  font-weight: 700;
  text-align: center;
  opacity: 0;
  display: none;
}

#opacity_ring>input {
  position: absolute;
  width: 80px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-appearance: none;
  height: 20px;
  background: transparent;
  outline: none;
}

#opacity_ring>input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #ffffff;
  border: 1px solid var(--Palatinate_blue);
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

#inner_ring {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--Palatinate_blue);
}

#shadow_controller.show_ui:hover+#opacity_ring {
  opacity: 1;
  display: block;
}

#opacity_ring.show_ui:hover {
  opacity: 1;
  display: block;
}

#opacity_ring.show_ui.show {
  opacity: 1;
  display: block;
}

#blur_ring {
  height: clamp(230px, 238px, 430px);
  width: clamp(230px, 238px, 430px);
  border-radius: clamp(20px, 20px, 110px);
  border: 1px solid var(--Palatinate_blue);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  opacity: 0;
  display: none;
}

#blur_ring.show_ui {
  display: block;
}

#blur_ring.show_ui:hover {
  opacity: 1;
  display: block;
}

#blur_ring.show_ui.show {
  opacity: 1;
  display: block;
}

.blur_stretch {
  background: var(--Palatinate_blue);
  opacity: 0;
  transition: all 100ms ease;
}

.blur_stretch.show {
  opacity: 1;
  transition: all 100ms ease;
}

.blur_stretch:hover {
  opacity: 1;
  transition: all 100ms ease;
}

#Box_color_color_option_list_box,
#Shadow_color_color_option_list_box,
#bg_color_list_box,
.color_option_list_box,
.shadow_box_bg_list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#spread_level_box {
  width: var(--shadow_box_width);
  height: var(--shadow_box_height);
  position-anchor: --shadow_box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--Palatinate_blue);
  opacity: 0;
  display: none;
}

#spread_level_box.show_ui {
  display: block;
}

#spread_level_box.show_ui:hover {
  transition: all 100ms ease;
  opacity: 1;
  display: block;
}

#spread_level_box.show_ui.show {
  transition: all 100ms ease;
  opacity: 1;
  display: block;
}

#spread_level_box::before {
  content: '';
  position: absolute;
  width: var(--shadow_box_width);
  height: 2px;
  top: 50%;
  background: var(--Palatinate_blue);
  transform: translateY(-50%);
  z-index: 10;
}

#spread_level {
  width: var(--shadow_box_width);
  height: clamp(3px, 105px, 207px);
  bottom: 0;
  opacity: 1;
  border-top: 1px solid var(--Palatinate_blue);
  background: repeating-linear-gradient(45deg, rgb(64 47 255 / 20%), rgb(64 47 255 / 20%) 1px, #ffffff 1px, #ffffff 8px);
}

#spread_level_stretch {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  background: var(--Palatinate_blue);
  opacity: 0;
  z-index: 20;
}

#spread_level_stretch:hover {
  transition: all 100ms ease;
  opacity: 1;
}

#spread_level_stretch.show {
  transition: all 100ms ease;
  opacity: 1;
}

#custom_shadow_sandbox_box {
  width: var(--shadow_box_width);
  height: var(--shadow_box_height);
  aspect-ratio: 1 / 1;
  position: relative;
  anchor-name: --shadow_box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--box_color);
  border: 1px solid transparent;
  border-radius: var(--radius);
  box-shadow: inset var(--horizontal_length) var(--vertical_length) var(--blur_radius) var(--spread_radius) rgba(var(--shadow_color), var(--opacity));
}

#custom_shadow_sandbox_box.box_outline {
  box-shadow: var(--horizontal_length) var(--vertical_length) var(--blur_radius) var(--spread_radius) rgba(var(--shadow_color), var(--opacity));
}

#custom_shadow_sandbox_box.box_border {
  border: 1px solid var(--Border);
}

#custom_shadow_code_snippet {
  font-size: 19px;
  letter-spacing: 0.2px;
  font-family: inter;
  line-height: 0.7;
  color: var(--Russian_violet);
}

#custom_shadow_code_snippet .val {
  color: var(--Mint);
}

#bg_color_input_pallete,
#Box_color_input_pallete,
#Shadow_color_input_pallete,
.bg_color_pallete {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  border-radius: 4px;
  outline: none;
  border: none;
}

#bg_color_input_pallete::-webkit-color-swatch-wrapper,
#Box_color_input_pallete::-webkit-color-swatch-wrapper,
#Shadow_color_input_pallete::-webkit-color-swatch-wrapper,
.bg_color_pallete::-webkit-color-swatch-wrapper {
  padding: 0;
}

/* CODE ABOUT SHADOW AREA END HERE */












#carcardbox,
#carcardbox2,
#carcardbox3 {
  width: fit-content;
  background: var(--Border);
  overflow: hidden;
}

.cards {
  width: 100px;
  height: 100px;
  background: red;
  transition: all ease 200ms;
  user-select: none;
}

.cards.active {
  background: var(--Dodger_blue);
}

.cards.center {
  background: var(--Mint);
}

.cards.first_center {
  background: var(--Red_Crayola);
}

.cards.last_center {
  background: var(--Tiffany_blue_2);
}

.cards.first_active {
  background: var(--Jasmine);
}

.cards.last_active {
  background: var(--Violet);
}

.cards.animate_in {
  z-index: 100;
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.cards.animate_out {
  z-index: 0;
  animation: fade-slide-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }

  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

@keyframes fade-slide-bottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {

    opacity: 0;
    transform: translateY(100%);
  }
}
